.brick {
 background: #fff;
 box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
 position: relative;
 margin: 0 auto;
}

.info {
       padding: 15px;
       color: #333;
     }


#freewall {
 top: 65px;
 margin: 10px;
}
