/* Outer */
/* line 450, sass/partials/_main_wrap.scss */

.exopite-sof-btn.trigger-upload
{
    display: none;
}

.dashicons.img-add-title.dashicons-menu {
  float: left;
  display: grid;
  position: absolute;
  top: 3px;
  right: 3px;
  background: rgba(255,0,0,.6);
  padding: 2px 5px 4px 5px;
  color: #fff;
  border-radius: 3px;
  line-height: 14px;
  font-size: 14px;
  cursor: pointer;
  left: 7px;
  z-index: 1;
}



.cmb2-media-status .img-status .cmb2-popup-file-button,
.cmb2-media-status .embed-status .cmb2-popup-file-button {
  height: 16px;
  left: 21px;
  position: relative;
  text-indent: -9999px;
  top: -170px;
  width: 16px;
  font-size: 10px;
  z-index: 12;
  color: white;
  background-color: #0073AA;
  padding: 5px;

}

/* line 464, sass/partials/_main_wrap.scss */

.cmb2-media-status .img-status .cmb2-popup-file-button {
	/*top: 10px;*/
}


.popup {
width:100%;
height:100%;
display:none;
position:fixed;
top:0px;
left:0px;
background:rgba(0,0,0,0.75);
z-index: 13;
}


/* Inner */
.popup-inner {
	max-width:700px;
	width:90%;
	padding:40px;
	position:absolute;
	top:50%;
	left:50%;
	-webkit-transform:translate(-50%, -50%);
	transform:translate(-50%, -50%);
	box-shadow:0px 2px 6px rgba(0,0,0,1);
	border-radius:3px;
	background:#fff;
}

/* Close Button */
.popup-close {
	width:30px;
	height:30px;
	padding-top:4px;
	display:inline-block;
	position:absolute;
	top:0px;
	right:0px;
	transition:ease 0.25s all;
	-webkit-transform:translate(50%, -50%);
	transform:translate(50%, -50%);
	border-radius:1000px;
	background:rgba(0,0,0,0.8);
	font-family:Arial, Sans-Serif;
	font-size:20px;
	text-align:center;
	line-height:100%;
	color:#fff;
}

.popup-close:hover {
	-webkit-transform:translate(50%, -50%) rotate(180deg);
	transform:translate(50%, -50%) rotate(180deg);
	background:rgba(0,0,0,1);
	text-decoration:none;
}
